<!DOCTYPE html>

<!--Tester django et les url links-->


{% load static %}

<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
</style>
</head>
<body>
<!--<p style="background-image: url('static/image/Affiche_Toma Ciprian_Busoi - Copy.png');">-->
    <h1>Home</h1>
    <p>Check out my <a href="/about">About</a> page.</p>
    <p>Check out my <a href="/check">Check</a> page.</p>
    <p>Check out my <a href="/detection">detection</a> page.</p>
    <p>Check out my <a href="/bouttonTest">Boutton</a> page.</p>


</body>
</html>